*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
debug.keystore.base64
*.keystore
*.base64

*.jks
gradle.properties
**/build/
*.bad
*.backup
*.before-signing
*.current
Calculator4906-v2-release.apk
*.apk
.build-outputs/
